---
import ShortenerApp from "../components/ShortenerApp";
import "../styles/global.css";

const apiUrl = import.meta.env.PUBLIC_API_URL;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <title>URL Shortener</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <ShortenerApp apiUrl={apiUrl} client:load />
  </body>
</html>
